@font-face{
    font-family: norse-bold;
    src: url('../fonts/Norse-Bold.otf');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25%;
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
}

div.logo {
    height:80px;
    width:100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p.logo {
    font-family: norse-bold, Courier, monospace;
    color: white;
    font-size: 5rem;
}

img.logo {
    max-height: 100%;
    max-width: 100%;
}

.credit {
    color: white;
    font-size: 0.8rem;
    justify-self: flex-end;
}

.form {
    flex: 2 0 0%;
    height: 100%;
    padding: 5px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 20px;
}

form p.title {
    width: 100%;
}

div.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
}

div.row > p {
    display: flex;
    flex-direction: column;
}

label {
    display: inline-block;
    font-size: 0.6rem;
    font-weight: bold;
}

input:valid {
    border: solid 1px #E5E7EB;
    border-radius: 3px;
}

input:focus {
    border: solid 1px blue;
    border-radius: 3px;
    box-shadow: 3px 3px 2px lightblue;
}

input:invalid {
    border: solid 1px red;
    border-radius: 3px;
}

button {
    width: 160px;
    height: 40px;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #596D48;
    font-weight: bold;
    color: white;
}

p a {
    color: #596D48;
    font-weight: bold;
}